@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato',sans-serif;
}

.home,.reports,.feedback.feed{
display: flex;
height: 90vh;
align-items: center;
justify-content: center;
font-size: 3rem;

}
.citizen-content1{
  display: flex;
  margin: 0 auto;
}
.card-container1 {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  padding: auto;
}

.card {
  width: 150px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #000;
}

.card.citizen-count1 {
  background-color: #6fe5c7; /* Use the green shade similar to the image */
}

.card.politician-count1 {
  background-color: #83e5ff; /* Use the blue shade similar to the image */
}

.card h2 {
  font-size: 16px;
  margin: 0;
}

.card p {
  font-size: 24px;
  font-weight: bold;
  margin: 5px 0 0;
}

.icon {
  font-size: 40px;
  margin-bottom: 10px;
}
